.testimonials-section {
  padding-bottom: 50px;

  &__cards {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $xl) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card-group {
    max-width: 432px;

    &:first-child {
      margin-right: 24px;
    }

    @media screen and (max-width: $xl) {
      max-width: 352px;

      &:first-child {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }
  }

  &__card {
    padding: 40px;
    text-align: left;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: $xl) {
      margin-bottom: 24px;
    }
  }

  &__card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

  }

  &__card-title {
    margin-left: 24px;
    font-weight: 500;
  }

  &__card-text {
    padding-right: 30px;
    font-weight: 400;
  }

}